.fondo {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.text{
    color: white;
    font-family: 'Oswald', sans-serif;
}

.titulo{
    margin-top: 3%;
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 10%;
    padding-bottom: 1.5em;
}

.pie{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    background: #2e2c2c;
    padding: 0em 0em 0em 0em;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.hiper{
    text-align: center;
}

a{
    margin-left: 0.7em;
    margin-right: 0.7em;
    font-size: 1.7em;
    cursor:hand;
    color: azure;
    text-decoration: none;
}

.logo{
    display: inline;
    margin: auto;
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    height: 35%;
}

.color:hover{
    color: #FFEBCD;
    font-size: 1.75em;
}

.redes{
    width: 15%;
    height: 15%;
    display: inline;
    margin: 0em 0em 0.5em 2em;
}

footer h1{
    font-size: 2em;
    display: inline;
    color: antiquewhite;
    margin: 0em 0em 1em 1em;
}

footer p{
    margin-left: 0.3em;
    display: inline;
    color: antiquewhite;
    font-size: 1.5em;
}

.caja{
    border-right: solid white 6px;
}

.caja img{
    
    border-left: solid white 6px;
    
    display: inline;
}